header{
    background: darkseagreen;
}
footer{
    background: darkseagreen;
}
a:hover{
    color: forestgreen;
}
input#envoyer{
    background-color: darkseagreen;
    border: solid forestgreen;
}